<h2>Trades</h2>

<p>Please select a date to view your trades in the selected date.</p>

<!--<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->
<br />
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date"
         (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="example-events">
  <div *ngFor="let e of tradesArray">{{e.ticker}}</div>
</div>
